configs/__pycache__/
MambaVLA/__pycache__/
configs/__pycache__/
eval_scripts/__pycache__/
test_mambaVLA.egg-info/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pth
*.pt
*.pth.tar
*.pt.tar
*.pth.tar.gz
*.pt.tar.gz
*.pth.tar.bz2
*.pt.tar.bz2
*.pth.tar.xz
*.pt.tar.xz
outputs/
wandb/
runs/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*